<header class="header">
	<h3>Текущее время:
		{{ 'now'|date('H:i:s', 'Europe/Moscow') }}</h3>
	<p>Активная сессия: пользователь
		{{ name }}
		{{ lastname }}!
	</p>
	{# <div class="header-info"></div> #}
</header>
