<nav class="navigation">
  <a href="/">Главная</a>
  <a href="/user">Пользователи</a>
  <a href="/about">О нас</a>
  <a href="/info">Информация</a>
  <a href="/user/logout/">Выйти из системы</a>
</nav>