{# <p>Наше первое приложение!</p> #}
{% if not user_authorized %}
	<div class='col-md-3 text-end'>
		<a href="/user/auth/" class='btn btn-primary'>Вход на сайт</a>
	</div>
{% else %}
	<p>Добро пожаловать на сайт,
		{{ name }}
		{{ lastname }}!</p>
{% endif %}
